*{
  
  margin: 0;
}

body{
  background-image: url(project_images/DoggoBG.jpg);
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
}

.mainBox{
  background-color: white;
  background-position: center;
  margin-left: 14.5rem;
  margin-right: 14.5rem;
  margin-top: 4.5rem;
}

.titulo span{
  clip-path: circle(50% at 50% -520%);
  align-self: center;
}

.titulo{
  text-align: center;
}

.about{
  background-color: lightgray;
  width: 15rem;
  height: 20rem;
  margin-left: 1.5rem;
  margin-right: 25rem;
  text-align: center;
}

.services{
  background-color: lightgray;
  width: 15rem;
  height: auto;
  margin-top: -20rem;
  margin-left: 20rem;
  margin-right: 20rem;
  text-align: center;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}